<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
</head>
<body>
    <h1>Hello World!</h1>
    <h1>good afternoon</h1>
    <h1>third commit</h1>
    <h1>fourth commit</h1>
    <h1>fifth commit</h1>
    <h1>success</h1>
    <h1>done!</h1>
    <h1>deployed succesfully!</h1>
    <h1>declarative pipeline</h1>
    <h1>practising declarative pipeline again</h1>
</body>
</html>
